.encounters-page{
.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
}
.encounters-list {
    overflow: scroll;
    li {
        color: #000;
    }
}

.site-footer {
    display: flex;
    position: fixed;
    height: 200px;
    width: 100%;
    background-color: #000;
}
.report-button {

}
}