.encounters-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    text-align: center;
    color: #000;
    background-color: #fff;
    margin: auto;
    padding-top: 1.3rem;
    flex: .25;
    z-index: 1;
    font-size: 2.2rem;
    span {
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }
    }

.encounters-list {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    flex: .5;
    overflow: scroll;

    li {
        margin-bottom: 1rem;
    }
}

.site-footer {
    display: flex;
    flex: .25;
    position: fixed;
    bottom: 0px;
    height: 200px;
    width: 100%;
    background-color: #000;
}
.report-button {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    margin: auto;
    a {
        text-decoration: none;
        font-size: 2.2rem;
        color: #fff;
        &:after {
            color: #fff;
        }
    }
}
