<form
[formGroup]="registerForm"
class="register-form"
[ngClass]="{ 'submitting': submitting }"
(ngSubmit)="postNewColonist($event)">

    <fieldset>
        <input type="text"
        placeholder="Name"
        formControlName="name"
        name="name">

        <input type="number"
        placeholder="Age"
        formControlName="age"
        name="age">

        <div class="custom-select">
            <select formControlName="job_id" name="job_id">
                <option value="">Select an Occupation</option>
                <option *ngFor="let job of marsJobs" value="{{ job.id }}">{{ job.name }}</option>
            </select>
        </div>
        <button type="submit">Log Colonist</button>
    </fieldset>
</form>