
.register-form {
    margin: auto;
    background: #000;
    display: flex;
    height: 100vh;
    fieldset {
        margin: auto;
        width: 75vw;
    }
    input, select {
        color: #fff;
        font-size: 1.5rem;
        padding-bottom: 2rem;
        display: block;
        width: 100%;
        margin-bottom: 2rem;
        height: auto;
        animation: pulse 1s infinite;
        background: rgba(237,237,237,0.2);
}

@keyframes pulse {
	0%   {
            box-shadow: 0 0 0 1rem rgba(0, 52, 76, 1),
                        0 0 0 1rem rgba(0, 52, 76, 0.15),
                        0 0 0 1rem rgba(0, 52, 76, 0.2);
            }

	// 50%   {
    //         box-shadow: 0 0 0 1.25rem rgba(0, 52, 76, 0.15),
    //                     0 0 0 2.75rem rgba(0, 52, 76, 0.2),
    //                     0 0 0 4.5rem rgba(0, 52, 76, 0.25);
    //         }

	// 75%   {
    //         box-shadow: 0 0 0 1.5rem rgba(0, 52, 76, 0.2),
    //                     0 0 0 3rem rgba(0, 52, 76, 0.25),
    //                     0 0 0 5rem rgba(0, 52, 76, 0.3);
    //         }

	// 100%   {
    //         box-shadow: 0 0 0 2rem rgba(0, 52, 76, 0.25),
    //                     0 0 0 4rem rgba(0, 52, 76, 0.3),
    //                     0 0 0 6rem rgba(0, 52, 76, 0.35);
    //         }
}
}